@import "tailwindcss";

@font-face {
  font-family: "HafferSemiBold";
  src: url(C:\Users\pc\Superlist Clone\src\assets\Haffer-XH-SemiBold.ttf);
}


@font-face {
  font-family: "Haffer";
  src: url(C:\Users\pc\Superlist Clone\src\assets\Haffer XH.ttf);
}
